nav {
    background: #002fff;
    background: linear-gradient(176deg,rgba(0, 47, 255, 1) 0%, rgba(87, 93, 199, 1) 50%, rgba(155, 83, 237, 1) 100%);

    .nav-link {
        font-family: "DM Mono";
    }
}
