{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}

    <h4 class="text-center mt-20">Register</h4>

    <form action="/register" method="post">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm password" type="password">
        <button class="form-control btn btn-primary mx-auto w-auto">Register</button>
    </form>
{% endblock %}